<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Salary</th>
      <th>Agency</th>
      <th>Location</th>
      <th>Posted</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Contract</th>
      <th>Job reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.title %></td>
        <td><%= company.description %></td>
        <td><%= company.salary %></td>
        <td><%= company.agency %></td>
        <td><%= company.location %></td>
        <td><%= company.posted %></td>
        <td><%= company.contact %></td>
        <td><%= company.address %></td>
        <td><%= company.telephone %></td>
        <td><%= company.contract %></td>
        <td><%= company.job_reference %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
