<p id="notice"><%= notice %></p>

<h2 class="text-center">
  <b><%= @company.title %></b>
</h2>
<h5 class="text-center">
  <%= @company.agency %> 
</h5>

<p>
  <%= @company.description %>
</p>

<p>
  <%= number_to_currency(@company.salary) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p>
  <strong>Posted:</strong>
  <%= time_ago_in_words(@company.posted) %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @company.contact %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @company.telephone %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @company.contract %>
</p>

<p>
  <strong>Job reference:</strong>
  <%= @company.job_reference %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
